/* public style */

/* to put items next to each other */
.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.container {
  width: 78%;
  margin: auto;
}

/* from google font */
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap");

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Josefin Sans", sans-serif;
  color: #0b1c39;
}

.button {
  background: #333;
  color: #fff;
  padding: 15px 30px;
  border: 0;
  letter-spacing: 1.2px;
  position: relative;
  z-index: 1;
}

.button:before {
  content: "";
  position: absolute;
  background-color: #ff2020;
  width: 0%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: -1;
  transition: width 0.5s;
}

.button:hover:before {
  width: 100%;
}
/* navbar */

nav {
  background-color: #fff;
  box-shadow: 0 5px 15px rgb(25 25 25 / 10%);
  padding: 2%;
  /* make navbar fixed */
  position: sticky;
  top: 0;
  z-index: 999;
}

nav .logo {
  width: 20%;
}

nav .nav-list {
  width: 60%;
}

nav .nav-list .list {
  display: flex;
  justify-content: center;
}

nav .nav-list .list-item {
  margin-right: 20px;
  position: relative;
}

nav .nav-list .list-item .nav-link {
  color: #141517;
  font-weight: 600;
  font-size: 15px;
  transform: color 3s;
}

nav .nav-list .list-item .nav-link:hover {
  color: #ff2020;
}

.list-item:nth-child(4)::after {
  content: "Hot";
  position: absolute;
  bottom: 19px;
  background-color: #ff2020;
  color: #fff;
  padding: 4px 5px;
  left: 25px;
  font-size: 14px;
  border-radius: 10px;
}

nav .nav-list .list-item .dropdown {
  position: absolute;
  background: #fff;
  top: 80px;
  width: 150px;
  padding: 25px 16px 0;
  border-radius: 10px;
  border-top: 2px solid #ff2020;
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s, top 1s;
  box-shadow: 0 0 0 1px #ff2020;
}

nav .nav-list .list-item .dropdown a {
  color: #141517;
}

nav .nav-list .list-item:hover .dropdown {
  opacity: 1;
  visibility: visible;
  top: 61px;
}

nav .nav-list .list-item .dropdown .dropdown-item {
  margin-bottom: 15px;
}

nav .nav-list .list-item .dropdown::before {
  content: "";
  position: absolute;
  border-bottom: 10px solid #ff2020;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  border-top: 10px solid transparent;
  top: -22px;
}

nav .nav-icon {
  width: 20%;
  text-align: right;
}

nav .nav-icon a {
  margin-left: 13px;
  color: #141517;
}

label,
#input-check {
  display: none;
}

@media screen and (max-width: 991px) {
  nav .nav-list .list {
    display: block;
  }
  nav .nav-list {
    background-color: #333;
    position: absolute;
    top: 100%;
    width: 90%;
    left: 3%;
    padding: 28px 18px;
    opacity: 0;
    visibility: hidden;
  }
  .list-item:nth-child(4)::after {
    display: none;
  }
  nav .nav-list .list-item .nav-link {
    color: #fff;
  }
  nav .nav-list .list-item {
    margin-right: 0;
    margin-bottom: 20px;
  }
  nav .nav-list .list-item .dropdown {
    display: none;
  }
  nav .nav-icon a,
  label {
    font-size: 20px;
  }
  nav .nav-icon {
    width: 7%;
    display: flex;
    justify-content: center;
  }
  label {
    display: block;
    order: 1;
  }
  #input-check:checked + .nav-list {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.6s;
  }
}

@media screen and (max-width: 575px) {
  nav .logo {
    width: 25%;
  }
  nav .logo img {
    width: 100%;
  }
}

/* header */

header {
  background-color: #f0f0f2;
}

header .container {
  overflow: hidden;
}

header .header-img {
  overflow: hidden;
}

header .header-content {
  width: 60%;
  animation-name: contentLeft;
  animation-duration: 2s;
}

@keyframes contentLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}

header .header-content h1 {
  font-size: 96px;
  font-weight: 700;
  line-height: 1.3;
}

header .header-content p {
  margin: 40px 0;
  color: #212025;
  width: 72%;
}

header .header-img {
  width: 35%;
  /* animation: imgScale 1s infinite alternate; */
  animation-name: imgScale;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes imgScale {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

@media screen and (max-width: 576px) {
  header .header-img {
    display: none;
  }
  header .header-content h1 {
    font-size: 48px;
  }
  header .header-content {
    width: 100%;
    padding-top: 10%;
    padding-bottom: 10%;
  }
}

@media screen and (min-width: 576px) and (max-width: 991px) {
  header .header-content h1 {
    font-size: 58px;
  }
  header .header-img img {
    width: 100%;
  }
}

/* start arrivals */

.arrivals {
  padding-top: 10%;
  padding-bottom: 10%;
}

.arrivals .row {
  justify-content: flex-start;
  gap: 80px;
}

.arrivals .parent {
  width: 30%;
}

.arrivals .parent .over-img {
  overflow: hidden;
}

.arrivals .parent img {
  width: 100%;
  transition: transform 0.5s;
}

.arrivals .parent:hover img {
  transform: scale(1.1);
}

.arrivals .title {
  margin: 3% 0;
  font-size: 45px;
}

.arrivals .caption {
  text-align: center;
  margin-top: 4%;
}

.arrivals .caption a {
  font-size: 26px;
  color: #444444;
  font-weight: 800;
  margin-bottom: 12px;
  display: inline-block;
}

.arrivals .caption p {
  color: #ff2020;
  font-weight: 600;
  font-size: 18px;
}

@media screen and (min-width: 576px) and (max-width: 991px) {
  .arrivals .row {
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .arrivals .parent {
    width: 45%;
  }
}

@media screen and (max-width: 575px) {
  arrivals .row {
    flex-wrap: wrap;
  }
  arrivals .parent {
    width: 100%;
  }
  arrivals .title {
    font-size: 35px;
  }
}

/* start gallery */

.gallery .gallery-row {
  display: flex;
  gap: 20px;
}

.gallery .gallery-row .single-img {
  width: 25%;
  height: 680px;
  overflow: hidden;
  position: relative;
}

.gallery .gallery-row .single-img img {
  width: 100%;
  height: 100%;
  transform: scale(1.2);
  transition: transform 0.5s;
  /* to make image clear */
  object-fit: cover;
}

.gallery .gallery-overlay {
  opacity: 0;
  transition: opacity 0.5s;
}

.gallery .gallery-row .single-img:nth-child(1):hover .gallery-overlay,
.gallery .gallery-row .single-img:nth-child(2):hover .gallery-overlay {
  background-color: #000;
  opacity: 0.5;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.gallery .gallery-row .single-img:nth-child(1):hover img,
.gallery .gallery-row .single-img:nth-child(2):hover img {
  transform: scale(1.1);
}

.gallery .gallery-row .single-img:nth-child(1) {
  width: 50%;
}

.gallery .gallery-row .single-img:nth-child(3) .gallery-column {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.gallery .gallery-row .single-img:nth-child(3) .gallery-column .single-img {
  width: 100%;
  height: 330px;
}

@media screen and (min-width: 576px) and (max-width: 991px) {
  .gallery .gallery-row {
    flex-wrap: wrap;
  }
  .gallery .gallery-row .single-img {
    width: 48%;
  }
  .gallery .gallery-row .single-img:nth-child(3) {
    width: 100%;
    height: 330px;
  }
  .gallery .gallery-row .single-img:nth-child(3) .gallery-column {
    flex-direction: row;
  }
}

@media screen and (max-width: 575px) {
  .gallery .gallery-row {
    flex-direction: column;
  }
  .gallery .gallery-row .single-img {
    width: 100%;
  }
  .gallery .gallery-row .single-img:nth-child(1) {
    width: 100%;
  }
}

/* start popular */

.popular {
  margin-top: 7%;
  margin-bottom: 7%;
}

.popular .row {
  flex-wrap: wrap;
}

.popular .title {
  text-align: center;
  width: 90%;
  margin: auto;
  margin-bottom: 5%;
}

.popular .title h2 {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 4%;
}

.popular .title p {
  color: #777;
  line-height: 1.5;
}

.popular .single-popular {
  width: 30%;
}

.popular .single-popular img {
  width: 100%;
}

.popular .single-popular .popular-img {
  position: relative;
  border-bottom: 3px solid #ff2020;
  margin-bottom: 3%;
  overflow: hidden;
}

.popular .single-popular .popular-img i {
  position: absolute;
  top: 5%;
  right: 5%;
  color: #333;
  font-size: 25px;
  opacity: 0;
  visibility: hidden 0.5s;
}

.popular .single-popular .popular-img:hover i {
  opacity: 1;
  visibility: visible;
}

.popular .single-popular .popular-img .add-cart {
  position: absolute;
  background-color: #ff2020;
  bottom: -100%;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 15px;
  transition: bottom 0.6s;
  color: #fff;
}

.popular .single-popular:hover .popular-img .add-cart {
  bottom: 0;
}

.popular .single-popular .caption {
  text-align: center;
}

.popular .single-popular .caption a {
  font-size: 20px;
  color: #000;
  font-weight: 800;
}

.popular .single-popular .caption p {
  margin-top: 5%;
  margin-bottom: 5%;
  font-weight: 700;
}

.popular .button {
  margin: 5% auto;
  display: block;
}

/* start footer */

footer {
  display: block;
  padding: 5px;
  box-shadow: 0 5px 15px rgb(25 25 25 / 10%);
}

footer .footer-tittle h4 {
  font-size: 20px;
  font-weight: 100px;
  margin-bottom: 4%;
  color: #000;
}

footer p {
  color: #4d4949;
  line-height: 1.5;
}

footer .footer-copy-right p i {
  color: #ff2020;
}

footer .footer-tittle a {
  color: #4d4949;
}

footer .footer-tittle a:hover {
  color: #ff2020;
}

footer .footer-social a {
  color: #000;
}

footer .row {
  margin: 50px;
}

@media screen and (max-width: 575px) {
  footer .row {
    flex-direction: column;
  }
  footer .row .footer-tittle {
    width: 100%;
    margin: 15px;
  }
  footer .row .footer-copy-right,
  .footer-social {
    width: 100%;
    margin: 10px;
  }
}

@media screen and (min-width: 576px) and (max-width: 991px) {
  footer .row {
    flex-wrap: wrap;
  }
  footer .row .footer-tittle {
    width: 100%;
    margin: 15px;
  }
  footer .row .footer-copy-right,
  .footer-social {
    width: 100%;
    margin: 10px;
  }
}
